body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
  }
  .container2 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: left;
    font-family: 'Ephesis', cursive;
    padding:15px;    
  }
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    color: black;
  }
  .container3 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    font-family: 'Ephesis', cursive;
    color: black;
    
  }
  .clearFix {
    clear: both;
  }
  #mainHeader {
    background:#ccc;
    color: rgb(22, 136, 139);
    text-align: left;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-left: 0%;
  }
  #mainNav {
    background: #ccc;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1em;
    margin: 0;
  }
  #mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #mainNav li {
    display: inline;
    margin: 0px;
    border:0px;
    padding:5px 5px;
    border-left: 2px solid rgb(46, 178, 201);
    border-right: 2px solid rgb(46, 178, 201);
    border-width: 2px;
    
    
    
    
    
    
    

    
  }
  #mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  #mainNav li:hover {
    background: rgb(22, 136, 139);
  }
  #jumbo {
    background-image: url('../image/cyan.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 200px;
    text-align: center;
    width: 100%;
    overflow: visible;
    
  }
  #jumbo h1 {
    color: black;
    font-size: 45px;
    padding-top: 20px;
    line-height: 1.6em;
  }
  #main {
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  #sidebar {
    float: left;
    width: 10%;
    padding: 0px;
    border-right: 1px solid #333;
    box-sizing: border-box;
    letter-spacing: 2em;
    word-spacing: 1em;
    background-color: black;
  }
  #hr.dashed {
    border-top: 3px dashed rgb(0, 0, 0);
  }
  #mainFooter {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px; 
  }
  #copyright {
    padding-top: 0;
    margin-top: 4em;
    border-top: 0;
  }

    #copyright ul {
      padding: 1em 2em;
      width: 100%;
    }

      #copyright ul li {
        display: block;
        margin: 0.5em 0 0 0;
        border-left: 0;
        padding: 0;
      }

        #copyright ul li:first-child {
          margin-top: 0;
        }

  #pExample {
    width: 400px;
    height: 400px;
    border: 1px solid #333;
    border-radius: 20px 10px 0 5px;
    position: relative;
  }
  #pExample span:first-child {
    position: absolute;
    bottom: 20px;
    right: 100px;
    font-style: italic;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
  }
  #pExample span:last-child {
    position: absolute;
    top: 100px;
    left:30px;
  }
  #fixed {
    position: fixed;
    bottom: 0;
    right: 50px;
    background:#ff652f;
    padding: 5px;
  }
  @media (max-width:600px){
    #main, #sidebar {
      width: 100%;
      float: none;
      border: none;
    }
  }
  